/* --------------------------------- tag selectors --------------------------------- */

body {
    background-color: #EAF6F6;
    text-align: center;
    margin: 100px auto 0px auto;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin: 50px auto 0px auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin: 0 auto 50px auto;
}

h3 {
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 0 auto 50px auto;
}

div {
    margin: 80px auto;
}

p {
    width: 40%;
    line-height: 2;
    margin: 20px auto;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 50px;
    margin: 80px auto;
}

a {
    margin: auto 10px;
    color: #11999e;
    text-decoration-line: none;
    font-size: 20px;
}

a:hover {
    color: #074244;
}
/* --------------------------------- class selectors --------------------------------- */

.lower-cloud {
    position: absolute;
    left:350px
} 

.upper-cloud {
    position: relative;
    left:200px
}

.greet {
    margin: 0;
}

.computer {
    float: left;
    width: 10%;
    margin: auto 200px;
}

.chilli {
    float: right;
    width: 10%;
    margin: auto 200px;
}

.skills-odd {
    text-align: left;
}

.skills-even {
    text-align: right;
}
.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #38bdbd);
    background-image: -moz-linear-gradient(top, #66BFBF, #38bdbd);
    background-image: -ms-linear-gradient(top, #66BFBF, #38bdbd);
    background-image: -o-linear-gradient(top, #66BFBF, #38bdbd);
    background-image: linear-gradient(to bottom, #66BFBF, #38bdbd);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #1bc2c2, #1a8989);
    background-image: -moz-linear-gradient(top, #1bc2c2, #1a8989);
    background-image: -ms-linear-gradient(top, #1bc2c2, #1a8989);
    background-image: -o-linear-gradient(top, #1bc2c2, #1a8989);
    background-image: linear-gradient(to bottom, #1bc2c2, #1a8989);
    text-decoration: none;
  }

.intro {
    font-size: 20px;
}

.footer {
    background-color: #66BFBF;
    margin:0px;
    padding: 2%;
}