body {
    background-color:   #EAF6F6;
    text-align: center;
    padding: 100px;
    font-family: "Meriweather", sans-serif;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
}

.top-cloud {
    position:relative;
    left : 300px
}

span {
    text-decoration: underline;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 90px;
    margin: 50px auto 0px auto;
    color: #66BFBF;
}

h3 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #66BFBF;
    font-weight: normal;
}

h2 {
    color: #11999E;
}

.skill-row {
    width: 50%;
    /* position: relative;
    left: 25%; */
    margin: 100px auto;
    text-align: left;
    /* line-height: 2; */
}

.skill-even {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-odd {
    width: 25%;
    float: right;
    margin-left: 30px;

}