body {
    color: white;
    background: #061a24;
    padding: 0% 7% ;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    
    
}

.navbar-title span {
    color: #e77f19;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin:0;
    padding:0%;
}

.navbar-items, .footer-items {
    display: flex;
    justify-content: space-between;
    color: #6c8f9e;
    font-size: 1rem;
    width: 50%;
    font-size: 1.2rem;
}

.navbar-item, .footer-item, .footer-mail-link {
    color: #6c8f9e;
}

.navbar-title {
    color: white;
    font-size: 3rem;
    padding: 0;
}

.social-handles {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: #042331; 
    flex-basis: 5%; 
    align-items: center;
}

.social-handles a {
    margin: 15%;
}

.social-handles .follow-me {
    text-decoration: none;
    rotate:90deg;
    margin:20px 0px;
    padding: 10px;
    color: black;
    background-color: #e77f19;
}


/* ----- landing page ----- */

#landing-page {
    background: #04161f;
    padding: 2%;
    text-align: end;
}

#landing-page img {
    float: left;  
    width: 30%;
}

h1 {
    font-size: 6rem;
    margin: 0;
}

#landing-page p {
    font-size: 1.2rem;
    float:right;
    text-align: center;
    width: 25%;
    font-family: 'Philosopher', sans-serif;;
}

#landing-page > h1 > a{
    color: white;
}
/* ----- about ----- */
#about {
    clear: left;
    padding: 5% 2%;
    color: #6c8f9e;
    background-color: #04161f;
}

#about img {
    width: 30%;
}

#about p {
    font-size: 1.5rem;
    width: 50%;
}

.about-content {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

/* portfolio */

#portfolio h1 {
    color: #6c8f9e;
}

/* footer */

#footer {
    margin: 5% 0%;
    padding-bottom: 2%;
    background-color: #04161f;
    padding: 2%;
}

.footer-mail {
    padding-bottom: 3%;
}
.footer-mail-link {
    font-size: 4rem;
}

/* portfolio */

.carousel {
    /* width: 60%; */
    margin: auto;
}

#portfolio {
    padding: 2%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color:#04161f;
    border-radius: 100%;
}

.carousel-indicators {
    background-color:#04161f;

}


.carousel-item a {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    color:#04161f;
    font-size: 2rem;
    margin: 2px;
  }
  