@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


/* First child */
.skill-circles > div:nth-child(1) {
  width: 100px;
  height: 100px;
}


.skill-circles > div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
}

.skill-circles > div:nth-child(3) {
    width: 70px;
    height: 70px;
}

@media screen and (min-width: 2000px) {
    
    .skill-circles > div:nth-child(1) {
        width: 200px;
        height: 200px;
    }

    .skill-circles > div:nth-child(2) {
        margin: 1.75rem;
        width: 400px;
        height: 400px;
    }

    .skill-circles > div:nth-child(3) {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 800px) {
    .skill-circles > div:nth-child(1) {
        width: 70px;
        height: 70px;
    }

    .skill-circles > div:nth-child(2) {
        margin: 1rem;
        width: 100px;
        height: 100px;
    }

    .skill-circles > div:nth-child(3) {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 320px) {
    .skill-circles > div:nth-child(1) {
        width: 60px;
        height: 60px;
    }

    .skill-circles > div:nth-child(2) {
        margin: 1rem;
        width: 90px;
        height: 90px;
    }

    .skill-circles > div:nth-child(3) {
        width: 40px;
        height: 40px;
    }
}

.skills-tooltip {
    max-width: 300px !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
    padding: 0.8rem !important;
    color:#6b7688 !important;
    text-align: center !important;
    line-height: 1 !important;
    opacity: 1 !important;
    background: #fff !important;
    margin-left: 4rem;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem !important;
      max-width: 500px !important;
      line-height: 2 !important;
    }
  }
